$color-theme: #537791; //主题色
$color-theme2: #6796b8; //较前者白
$color-theme3: #72a8ce; //较前者白
$color-navbg: #f5f5f7;
$color-mainArea: #fafafa; //主演示区背景色  f9f0eb e9edf0
$color-lightBlue: #32beff; //配色——浅蓝
$color-dividingLine:rgba(7, 7, 4, 0.3); //分界线颜色
$color-thBg: #f5f7fa; //表头背景色
$color-error:#f56c6c;
$color-success:#A0E6FF;
$color-white:#fff;
$color-greyWhite:rgb(220, 220, 230);
$color-lightGrey: #83929F;
$color-greyLine: rgba(131, 146, 159, 0.398);